.countdownTimer {
  margin-top: 30vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  color: #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}

.countdownTimer_single {
  display: flex;
  flex-direction: column;
}  

.countdownTimer_input {
  width: 100px;
  margin-right: 1rem;
  color: #282c34;
  outline: none;
  border: none;
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  padding: 0rem 0.5rem;
  border-radius: 5px;
}

.countdownTimer_label {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 0rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.countdownTimer_input:hover {
  background-color: #928f8f;
}

.countdownTimer_button {
  width: 100px;
  margin-right: 1rem;
  background-color: green;
  color: #fff;
  outline: none;
  border: none;
  font-size: 4.5rem;
  font-weight: 600;
  padding: 0rem 0.2rem;
  border-radius: 5px;
}

.button_container {
  margin-top: 60px;
  display: flex;
}